.RealOrder {
  width: 80%;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  padding: 10px;
  margin: 20px auto;
  box-sizing: border-box;
}

.Span {
  display: inline-block;  /*good for smaller screens*/
  text-transform: capitalize;
  margin: 5px 8px;
  padding: 5px;
  border: 1px solid grey;
}