/*make base defaults be for mobile devices*/
.NavItems {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;        /*make items be next to each other*/
  align-items: center;  /*align vertically*/
  flex-flow: column;
  height: 100%;
}

.Item {
  margin: 10px 0;
  box-sizing: border-box;
  display: block;
  width: 100%;
}

.Item a {
  color: #8f5c2c;
  text-decoration: none;  /*get rid of underline*/
  width: 100%;
  box-sizing: border-box;
  display: block;
}

/*a:active gives very brief effect when clicking link.
  a.active gives link the effect for however long user is on page*/
.Item a:hover, a:active, a.active {
  color: #40a4c8;
}


/*for desktop*/
@media (min-width: 500px) {
  .NavItems {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    flex-flow: row;
    height: 100%;
  }
  
  .Item {
    margin: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 100%;
    width: auto;  /*shouldn't be 100%*/
  }
  
  .Item a {
    color: white;
    text-decoration: none;
    height: 100%;
    padding: 16px 10px;
    border-bottom: 4px solid transparent;
    box-sizing: border-box;
    display: block;
  }
  
  .Item a:hover, a:active, a.active {
    background-color: #8f5c2c;
    border-bottom: 4px solid #40a4c8;
    color: white;
  }
}