.SingleControl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
}

.SingleControl button {
  display: block;
  font: inherit;
  padding: 5px;
  margin: 0 5px;
  width: 80px;
  border: 1px solid #aa6817;
  cursor: pointer;
  outline: none;
}

.SingleControl button:disabled {
  background-color: #AC9980;
  border: 1px solid #7E7365;
  color: #ccc;
  cursor: default;
}

.SingleControl button:hover:disabled {
  background-color: #AC9980;
  color: #ccc;
  cursor: not-allowed;
}

.Label {
  padding: 10px;
  font-weight: bold;
  width: 80px;
}

.SingleControl .Less {  
  background-color: #d61919;
  color: white;
  font-weight: bold;
}

.SingleControl .More {
  background-color: #009b00;
  color: white;
  font-weight: bold;
}

.SingleControl .Less:hover, .SingleControl .Less:active {  
  background-color: #ff0000;
  color: white;
}

.SingleControl .More:hover,.SingleControl .More:active {
  background-color: #00c000;
  color: white;
}