.Toolbar {
  height: 56px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #703b09;
  display: flex;  /*align all items next to each other*/
  justify-content: space-between;
  align-items: center;  /*align items vertically*/
  padding: 0 20px;      /*top/bottom left/right*/
  box-sizing: border-box;
  z-index: 90;   /*must be lower than the Backdrop*/
}

.Toolbar nav {
  height: 100%;
}