.Backdrop {
  width: 100%;
  height: 100%;
  position: fixed; /*stays in position even as we scroll*/
  z-index: 100;    /*have it be above elements*/
  left: 0px;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.75);
}