.Logo {
  background-color: white;
  height: 100%;  /*the default. can change it in the cmpts that use it*/
  padding: 8px;
  box-sizing: border-box; /*include padding and border in element's total width and height*/
  border-radius: 5px;
}

/*the image itself*/
.Logo img {
  height: 100%;
}