.Sidedrawer {
  position: fixed;
  left: 0;
  top: 0;
  width: 280px;
  max-width: 70%;
  height: 100%;
  z-index: 200;  /*must be above Backdrop*/
  background-color: white;
  padding: 32px 16px;
  box-sizing: border-box;
  transition: transform 0.3s ease-out;  /*open/close animation*/
}

/*Sidedrawer should be invisible on bigger screen devices like desktops*/
@media (min-width: 500px) {
  .Sidedrawer {
    display: none
  }
}

.Open {
  transform: translateX(0);
}

.Close {
  transform: translateX(-100%); /*its off screen to the left*/
}