.Button {
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
}

.Cancel {
  color: #944317;
}

.Continue {
  color: #5C9210;
}

/*having just ul and li will make the css behave globally*/
.ul {
  margin: 0 0 0 30%;
}

.li {
  text-align: left;
}

.p2 {
  font-weight: bold;
  text-decoration: underline;
}

.p3 {
  margin: 45px 0 0 0;
  padding: 0;
}